*{
    font-family: "Poppins";
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.all-games{
    box-shadow: 0 0 10px #ccc;
    padding: 2rem !important;
}

.modal-bg{
    z-index: 100;
}

.modal-bg, .verify-account-bg{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: #000000a8;
    height: 100vh;
}

.verify-account-bg{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: #000000a8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-account{
    background-color: #fff;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.error-modal{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

nav ul li{
    margin: 10px 0;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #D1D5DB;
    background: linear-gradient(to right, #D1D5DB 10%, rgba(87, 66, 66, 0.127) 18%, #D1D5DB 33%);
    background-size: 800px 104px;
    height: 40px;
    position: relative;
}

/* .settings-animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #141625;
    background: linear-gradient(to right, #141625 10%, #1F213A 18%, #141625 33%);
    background-size: 800px 104px;
    position: relative;
} */
.home-tab{
    background-color: #797979;
}

.active-tab{
    color: white !important;
    background-color: #4F3D3D;
}


@media screen and (max-width:1024px) {
    .all-games, .place-bet-form, .sign-up-form, .error-modal{
        width: 60% !important;
    }
}

@media screen and (max-width:768px) {
    .all-games, .place-bet-form, .sign-up-form, .error-modal{
        width: 80% !important;
    }
}

@media screen and (max-width:480px) {
    .all-games, .place-bet-form, .sign-up-form, .error-modal{
        width: 95% !important;
    }
}